/*
* 
* @author Yan Fonseca
*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,body, #home{
	height: 100%;
	/*overflow-x:hidden;*/
}
body {
	background: linear-gradient(250deg,#005FAD, #010029);
	background-attachment: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	font-family: 'Poppins', Arial;
}
#ajudando {
	margin-top: 4em;
	font-size: 1.5em;
}
.blocoLogo {
	width: 288px;
	height: 304px;
	padding-top: 62px;
}
#D {
	padding-top:62px;
	padding-right:150px;
	font-family: 'Architects Daughter';
	font-style: normal;
	font-weight: 400;
	font-size: 170px;
	line-height: 70px;
	/* identical to box height, or 41% */
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
#W {
	margin-top: -62px;
	font-family: 'Architects Daughter';
	font-style: normal;
	font-weight: 400;
	font-size: 110px;
	line-height: 70px;
	/* identical to box height, or 64% */
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
#DubWeb {
	font-family: 'Architects Daughter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 56px;
	/* identical to box height, or 140% */
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
#imgFluid{
	width:100%;
}
#padNeg{
	margin-top:-30px;
}
#txt{
	margin-top: calc(38% - 269px/2 + 45px);
}
#quem {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 27px;
	display: flex;
	align-items: center;
	color: #01003E;
}
#yan {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
#desenvolvedor {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 0.95em;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
#apaixonado {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 0.95em;
	line-height: 152%;
	color: #D8D8D8;
}
#icon{
	width:3.5em;
	margin-top:3em;
	margin-left:1em;
}
#iconFoo {
	width: 2.8em;
	margin-left: 1em;
}
#lNo{
	text-decoration:none;
}
	#lNo :hover {
		color: #9bf0e1;
	}
.capa{
	text-align: center;
}
.caixa{
	padding-top:120px;
	padding-bottom: 20px;
}
#projetos{
	background: white;
}
#projetos h3{
	color: #7c25f8;
}
#facilidades{
	color: white;
}
#facilidades h2{
	color: white;
}
#facilidades h3{
	color: #9bf0e1;
}
.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	padding-left: 80px;
}
footer {
	background: linear-gradient(90deg,#000, #010029);
	padding: 50px 0px 20px 0px;
	position: relative;
}
footer h4{
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}
footer .navbar-nav a{
	color: white;
	font-size: 0.8em;
}
footer .navbar-nav a:hover{
	color: #9bf0e1;
	font-size: 0.8em;
	text-decoration: none;
}
footer ul{
	list-style: none;
}
footer ul li{
	float: right;
	margin: 0 5px;
}
h1 {
	padding-top:50px;
	font-family: 'Poppins';
	font-weight: 550;
	font-size: 25px;
	align-items: center;
	color: #FFFFFF;
}
h2{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
@media Handheld{

}
/*Início Media query*/
@media Handheld and (min-width:500px) and (max-width: 544px) {
	h1 {
		font-size: 0.72em;
	}

	#ajudando {
		padding-top: 1.5em;
		font-size: 1.3em;
		width: 14em;
	}

	.blocoLogo {
		width: 135px;
		height: 304px;
		padding-top: 30px;
	}

	#D {
		font-size: 5.3em;
	}

	#W {
		font-size: 2.8em;
		margin-left: -0.65em;
	}

	#DubWeb {
		font-size: 1.8em;
		margin-top: -1.4em;
	}

	#imgFluid {
		margin-top: -4em;
		width: 15em;
		margin-left: -4.8em;
	}

	#txt {
		margin-top:;
		width: 13.5em;
	}

	#quem {
		font-weight: 500;
		font-size: 1.4em;
		line-height: 1.95em;
	}

	#yan {
		font-weight: 500;
		font-size: 2em;
		line-height: 0.95em;
		color: #FFFFFF;
	}

	#desenvolvedor {
		font-weight: 300;
		font-size: 0.95em;
		line-height: 1em;
		color: #FFFFFF;
	}

	#apaixonado {
		font-weight: 600;
		font-size: 0.85em;
		line-height: 152%;
	}

	#icons {
		width: 13.5em;
	}

	#icon {
		width: 2.5em;
		margin-top: 0.5em;
		margin-left: 0.45em;
	}
}
@media Handheld and (min-width: 545px) and (max-width: 767px) {
	h1 {
		font-size: 0.8em;
	}

	#ajudando {
		padding-top: 1.5em;
		font-size: 1.3em;
		width: 14em;
	}

	.blocoLogo {
		width: 135px;
		height: 304px;
		padding-top: 30px;
	}

	#D {
		font-size: 6em;
	}

	#W {
		font-size: 3.5em;
		margin-left: -0.35em;
	}

	#DubWeb {
		font-size: 2em;
		margin-top: -1em;
	}

	#imgFluid {
		margin-top: -5em;
		width: 15em;
		margin-left: -4.8em;
	}

	#txt {
		margin-top: -3.1em;
		width: 15.5em;
	}

	#quem {
		font-weight: 500;
		font-size: 1.4em;
		line-height: 1.95em;
	}

	#yan {
		font-weight: 500;
		font-size: 2em;
		line-height: 0.95em;
		color: #FFFFFF;
	}

	#desenvolvedor {
		font-weight: 300;
		font-size: 0.95em;
		line-height: 1em;
		color: #FFFFFF;
	}

	#apaixonado {
		font-weight: 600;
		font-size: 0.85em;
		line-height: 152%;
	}

	#icons {
		width: 13.5em;
	}

	#icon {
		width: 2.17em;
		margin-top: 0.8em;
		margin-left: 1em;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	h1 {
		font-size: 1em;
	}
	#ajudando {
		padding-top: 0.1em;
		font-size: 2em;
		width: 10em;
	}

	.blocoLogo {
		width: 270px;
		height: 304px;
		margin-top: 0em;
	}

	#D {
		font-size: 9em;
	}

	#W {
		font-size: 6.5em;
		margin-left: -0.35em;
	}

	#DubWeb {
		font-size: 2em;
		margin-top: -1em;
	}
	#icon {
		width: 2.17em;
		margin-top: 2em;
		margin-left: 1em;
	}
	#imgFluid {
		margin-top: 1em;
		width: 15em;
		margin-left: -4.8em;
	}

	#txt {
		margin-top:1.3em;
		width: 15.5em;
	}

	#quem {
		font-weight: 500;
		font-size: 1.4em;
		line-height: 1.95em;
	}

	#yan {
		font-weight: 500;
		font-size: 2em;
		line-height: 0.95em;
		color: #FFFFFF;
	}

	#desenvolvedor {
		font-weight: 300;
		font-size: 0.95em;
		line-height: 1em;
		color: #FFFFFF;
	}

	#apaixonado {
		font-weight: 600;
		font-size: 0.85em;
		line-height: 152%;
	}

	#icons {
		width: 13.5em;
	}

	#icon {
		width: 2.17em;
		margin-top: 0.8em;
		margin-left: 1em;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	h1 {
		font-size: 1.5em;
	}
	#icon {
		width: 3em;
		margin-top: 2em;
		margin-left: 1em;
	}
	
}
@media (min-width: 1200px) and (max-width: 1399px) {
	h1 {
		font-size: 1.8em;
	}
	#icon {
		width: 3.5em;
		margin-top: 3em;
		margin-left: 1em;
	}

}
@media (min-width: 1400px) {
	h1 {
		font-size: 2.2em;
	}
	#icon {
		width: 3.5em;
		margin-top: 3em;
		margin-left: 1em;
	}

}