#portifolio {
<<<<<<< HEAD
=======
    padding-bottom: 224px;
>>>>>>> fb08e5a2ac64565b920faa252ad06f45e383b9c4
    position: relative;
}

#conteiner {
    padding: 0px;
}

#linharodape {
    background-color: #010029;
    height: 134px;
    padding: 0px;
    position: relative;
    background: RGB(1, 0, 41);
}

#colunarodape {
<<<<<<< HEAD
=======
    height: 134px;
>>>>>>> fb08e5a2ac64565b920faa252ad06f45e383b9c4
    padding: 0px;
    background: RGB(1, 0, 41); 
}

<<<<<<< HEAD
#footerestilo {
=======
#©2023-todososdireitosreservados {
>>>>>>> fb08e5a2ac64565b920faa252ad06f45e383b9c4
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 14px;
    font-family: Poppins;
    line-height: auto;
    border-style: hidden;
    outline: none;
<<<<<<< HEAD
    width: 100%;

=======
>>>>>>> fb08e5a2ac64565b920faa252ad06f45e383b9c4
}

#linhaservicos {
    background-color: #01003d;
    height: 539px;
    padding: 0px;
    position: relative;
}

#colunaservicos2 {
    height: 289px;
    padding: 0px;
    position: relative;
}

#botao {
    background-color: #005fad;
    height: 51px;
    width: 356px;
    border-radius: 4px;
    padding: 0px;
    position: relative;
}

#soliciteumorçamento {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 14px;
    font-family: Archivo;
    line-height: auto;
    border-style: hidden;
    outline: none;
    top: 16px;
    left: 0px;
    position: absolute;
    width: 356px;
}

#colunaservicos1 {
    height: 250px;
    padding: 0px;
    position: absolute;
}

#serviços {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 40px;
    font-family: Poppins;
    line-height: auto;
    border-style: hidden;
    outline: none;
    left: 872px;
    top: 92px;
    position: absolute;
    width: 176px;
}

#linhahabilidades {
    background-color: #005fad;
    height: 450px;
    padding: 0px;
    position: relative;
}

#linhahabilidades2 {
    height: 183px;
    padding: 0px;
    position: relative;
}

#colunahabilidades2 {
    height: 183px;
    top: 0px;
    left: 67px;
    position: absolute;
}

#rectangle14 {
    background-color: rgba(255, 255, 255, 0.75);
    height: 183px;
    position: absolute;
}

#habilidadesicones {
    height: 64px;
    position: absolute;
}

.c- + {
    height: 64px;
    width: 64px;
    position: absolute;
}

.csharp {
    height: 64px;
    width: 64px;
    position: absolute;
}

.java {
    height: 64px;
    width: 64px;
    position: absolute;
}

.python {
    height: 64px;
    width: 64px;
    position: absolute;
}

.php {
    height: 64px;
    width: 64px;
    position: absolute;
}

.html5 {
    height: 64px;
    width: 64px;
    position: absolute;
}

.css3 {
    height: 64px;
    width: 64px;
    position: absolute;
}

.bootstrap {
    height: 64px;
    width: 64px;
    position: absolute;
}

.wordpress {
    height: 64px;
    width: 64px;
    position: absolute;
}

#colunahabilidades1 {
    height: 185px;
    padding: 0px;
    position: absolute;
}

#habilidades6 {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 40px;
    font-family: Poppins;
    line-height: auto;
    border-style: hidden;
    outline: none;
    position: absolute;
    width: 386px;
}

.#linhaprojetos {
    padding: 0px;
    position: relative;
}

#colunaprojetos {
    padding: 0px;
}

#fundoyanban1 {
    transform: rotate(0deg);
}

#opaco {
    background-color: rgba(240, 240, 240, 0.5);
}

#botao2 {
    background-color: #01003d;
    height: 57px;
    width: 330px;
    border-radius: 4px;
    padding: 0px;
    position: relative;
}

#vejamaisprojetosemgithub {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 14px;
    font-family: Poppins;
    line-height: auto;
    border-style: hidden;
    outline: none;
    position: absolute;
    width: 330px;
}

#linhasobre {
    background-color: #005fad;
    padding: 0px;
    position: relative;
}

#coluna2 {
    padding: 0px;
    position: relative;
}

#linha2 {
    padding: 0px;
    position: relative;
}

#icons {
    width: 380px;
    height: 65px;
    position: absolute;
}

#linkedin {
    height: 64px;
    width: 64px;
    position: absolute;
}

#whatsapp {
    height: 64px;
    width: 64px;
    position: absolute;
}

#githublogosilhouetteinasquare {
    height: 64px;
    width: 64px;
    position: absolute;
}

#email {
    height: 64px;
    width: 64px;
    position: absolute;
}

#linha1 {
    padding: 0px;
}

#txt {
    padding: 0px;
    position: relative;
}

#quemsou {
    color: #01003d;
    text-align: left;
    vertical-align: text-middle;
    font-size: 25px;
    font-family: Archivo;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

#yanfonseca {
    color: #ffffff;
    text-align: left;
    vertical-align: text-middle;
    font-size: 40px;
    font-family: Poppins;
    line-height: auto;
    border-style: hidden;
    outline: none;
    top: 38px;
    left: 0px;
    position: absolute;
}

#desenvolvedorbackend {
    color: #ffffff;
    text-align: left;
    vertical-align: text-middle;
    font-size: 19px;
    font-family: Poppins;
    line-height: auto;
    border-style: hidden;
    outline: none;
    position: absolute;
}

#apaixonadoportecnologiadesdecriança, ondemedianteexperiênciasdiversas, acaboupordesejarfazerusodatecnologiaparafacilitarodia-a-diadaspessoas. {
    color: #d8d8d8;
    text-align: left;
    vertical-align: text-top;
    font-size: 19px;
    font-family: Poppins;
    line-height: 28.799999237060547px;
    border-style: hidden;
    outline: none;
    position: absolute;
}

#coluna1 {
    padding: 0px;
}

#foto {
    height: 535px;
    width: 383px;
    padding: 0px;
    position: relative;
}

#img_yan1 {
    height: 426px;
    width: 320px;
    position: absolute;
}

#coisinhadefoto {
    top:-45px;
    height: 526px;
    width: 320px;
    position: absolute;
}

#linhainicio {
    background-color: #005fad;
    padding: 0px;
}

#coluna02 {
    height: 339px;
    width: 333px;
    padding: 0px;
    left: 1258px;
    top: 276px;
    position: relative;
}

#logo2 {
    height: 254px;
    width: 269px;
    padding: 0px;
    left: 64px;
    top: 38px;
    position: relative;
}

#h1 {
    height: 98px;
    width: 271px;
    padding: 0px;
    top: 126px;
    position: relative;
}

#dubweb {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 40px;
    font-family: Architects Daughter;
    line-height: 56px;
    border-style: hidden;
    outline: none;
    position: absolute;
    width: 151px;
}

#h12 {
    height: 304px;
    width: 288px;
    padding: 0px;
    position: absolute;
}

#d17 {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 170px;
    font-family: Architects Daughter;
    line-height: 70px;
    border-style: hidden;
    outline: none;
    left: 89px;
    top: 117px;
    position: absolute;
    width: 111px;
}

#h13 {
    height: 304px;
    width: 288px;
    padding: 0px;
    left: 4px;
    position: relative;
}

#w4 {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 110px;
    font-family: Architects Daughter;
    line-height: 70px;
    border-style: hidden;
    outline: none;
    position: absolute;
}

#coluna01 {
    padding: 0px;
    position: relative;
}

#h14 {
    height: 168px;
    width: 650px;
    padding: 0px;
    top: 32px;
    position: relative;
}

#ajudandoempresasaconstruíremsitesmodernosedealtaqualidade. {
    text-align: left;
    vertical-align: text-middle;
    font-size: 36px;
    font-family: Poppins;
    line-height: 56px;
    border-style: hidden;
    outline: none;
}

#a42 {
    background-color: #01003d;
    border-radius: 4px;
    padding: 0px;
    position: relative;
}

#botaoIni {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 14px;
    font-family: Archivo;
    line-height: auto;
    border-style: hidden;
}
#botaoIni:hover{

}
